<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The app will use the function to recognize your talk.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The app will use the phone microphone to record your voice.</string>
</dict>
</plist>
